<div style="margin-top: 1em">
    <mat-spinner *ngIf="loading === true" color="black"></mat-spinner>
</div>
<div *ngIf="loading === false">
    <h3>List of Near Earth Objects (NEO) by their closest approach date</h3>
    <h4 *ngIf="overRateLimit === true" class="red">API rate limit reached, using static JSON data...</h4>
    <p>The closest flyby of an NEO is by {{neoStats.closest.name}} {{roundNumber(neoStats.closest.distance)}} miles and will
        flyby on {{neoStats.closest.flyByDate}} at a speed of {{neoStats.closest.speed}} MPH</p>
    <p>The biggest NEO is {{neoStats.biggest.name}} at {{roundNumber(neoStats.biggest.diameter)}} feet in diameter and will
        flyby on {{neoStats.biggest.flyByDate}}at a speed of {{neoStats.biggest.speed}} MPH</p>
    <mat-accordion>
        <mat-expansion-panel class="border" *ngFor="let date of neoDates">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{date}}
                </mat-panel-title>
            </mat-expansion-panel-header>
            <ol>
                <li *ngFor="let object of nearEarthObjectList[date]">
                    {{object.name}} (<a href="{{object.links.self}}" target="blank">More data</a>)
                    <ul>
                        <li *ngIf="object.is_potentially_hazardous_asteroid == true">
                            Hazardous: <span
                                class="hazardous hazardous-true">{{object.is_potentially_hazardous_asteroid}}</span>
                        </li>
                        <li *ngIf="object.is_potentially_hazardous_asteroid == false">
                            Hazardous: <span
                                class="hazardous hazardous-false">{{object.is_potentially_hazardous_asteroid}}</span>
                        </li>
                        <li>Will fly by Earth at a distance of
                            {{roundNumber(object.close_approach_data[0].miss_distance.miles)}} miles</li>
                        <li>Size is between {{roundNumber(object.estimated_diameter.feet.estimated_diameter_min)}} and
                            {{roundNumber(object.estimated_diameter.feet.estimated_diameter_max)}} feet in diameter</li>
                    </ul>
                </li>
            </ol>
        </mat-expansion-panel>
    </mat-accordion>
</div>